/* 
Light shades: #F4F4F1
Light accent: #8C8B9E
Main brand: #7F73D4
Dark accent: #74688D
Dark shades: #283461
*/
body {
    box-sizing: border-box;
    background-color: #283461;
    margin: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #161b2d;
    display: flex;
}
.navbar li a {
  display: block;
  color: white;
  font-family: monospace;
  font-size: 15px;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #7F73D4;
}

header {
    background-color: #1b223b;
    border-radius: 5px;
}

.name {
    color: #F4F4F1;
    font-family: monospace;
    background-color: #1b223b;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.pfp {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10%;
    margin: 10px;
    width: 115px;
}

.Name-Socials {
    padding: 10px
}

.Name-Socials h3 {
    color: #F4F4F1;
    font-size: 30px;
    font-family: monospace;
}

.contacts {
    color: #F4F4F1;
    font-size: 15px;
    font-family: monospace;
}

.Bio, .Skills, .Projects {
    font-family: monospace;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.Bio {
    flex: 2;
    background-color: #1b223b;
    color: #F4F4F1; 
    font-size: 16px;
}

.Skills, .Projects {
    flex: 1;
    background-color: #1b223b;
    color: #F4F4F1;
}

.biocards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.biocards p {
    background-color: #F4F4F1;
    color: #283461;
    padding: 14px 16px;
    margin: 0;
    border-radius: 6px;
    flex: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    line-height: 1.4;
}
.Skills h2 {
    font-size: 30px;
    font-family: monospace;
    color: #F4F4F1;
    text-align: center;
}
.Projects h2 {
    font-size: 30px;
    font-family: monospace;
    color: #F4F4F1;
    text-align: center;
}

.skillcard h3 {
    margin-top: 0;
    color: #283461;
}
.skillcard ol {
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
}
.skilllists {
    display: flex;
    gap: 20px;
}
.skillcard {
    background-color: #F4F4F1;
    color: #283461;
    padding: 16px 20px;
    border-radius: 6px;
    flex: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.projectcards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectcard {
    background-color: #F4F4F1;
    color: #283461;
    padding: 16px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    font-size: 15px;
}

.projectcard h3 {
    margin-top: 0;
    font-size: 20px;
}
.layout {
    width: 98%;
    max-width: 1600px;  
    margin: 40px auto;
    display: flex;
    gap: 24px;
}

